[submodule "board/libs/akn-libs"]
	path = board/libs/akn-libs
	url = git@github.com:aniline/akn-kicad-libs.git
[submodule "board/modules/akn_misc.pretty"]
	path = board/modules/akn_misc.pretty
	url = git@github.com:aniline/akn_misc.pretty.git
[submodule "board/libs/aleksmk-libs"]
	path = board/libs/aleksmk-libs
	url = git@github.com:aleksmk/kicad-libs.git
[submodule "board\\modules\\safety_pin.pretty"]
	path = board\\modules\\safety_pin.pretty
	url = git@github.com:aylons/safety_pin.pretty
